/* You can add global styles to this file, and also import other style files */
nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
  align-items: baseline;

  @media (min-width: 50ch) {
    flex-direction: row;
  }
}
