/* You can add global styles to this file, and also import other style files */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --text-color: #000;
  --background-color: #fff;
  --border-color: var(--text-color);
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
  align-items: baseline;

  margin: 1em;

  @media (min-width: 50ch) {
    flex-direction: row;
  }

  a {
    padding: .25em;

    &.active {
      //background-color: #567890;
      //color: #fff;
      outline: darkblue solid .1em;
    }
  }

}

.hidden-content {
  display: none;
}

#site {
  margin: .5em .5em;
}

:is(
  app-legacy-first,
  app-legacy-second,
  app-legacy-third,
  app-legacy-fourth,
  app-standalone-first,
  app-standalone-second,
  app-standalone-third
 ) {
  display: block;
  padding: 1em;
  margin-bottom: .5em;

  h3 {
    margin: .5em 0;
  }

  h4 {
    margin: .25em 0;
  }
}

:is(
  app-legacy-first,
  app-legacy-second,
  app-legacy-third,
  app-legacy-fourth
 ) {
  border: dotted red .1em;
}

:is(
  app-standalone-first,
  app-standalone-second,
  app-standalone-third
) {
  border: solid green .1em;
}
