/* You can add global styles to this file, and also import other style files */
nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: flex-start;
  align-items: baseline;

  margin: 1em;

  @media (min-width: 50ch) {
    flex-direction: row;
  }
}

.hidden-content {
  display: none;
}

:is(
  app-legacy-first,
  app-legacy-second,
  app-legacy-third,
  app-legacy-fourth,
  app-standalone-first,
  app-standalone-second,
  app-standalone-third
 ) {
  display: block;
  padding: 1em;
}

:is(
  app-legacy-first,
  app-legacy-second,
  app-legacy-third,
  app-legacy-fourth
 ) {
  border: dotted red .1em;
}

:is(
  app-standalone-first,
  app-standalone-second,
  app-standalone-third
) {
  border: solid green .1em;
}
